<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="auto"
    
    android:versionCode="244"
    android:versionName="2.44" >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="de.bernd.shandschuh.sparserss.READFEEDS" />
    <uses-permission android:name="de.bernd.shandschuh.sparserss.WRITEFEEDS" />

    <permission
        android:name="de.bernd.shandschuh.sparserss.READFEEDS"
        android:description="@string/permission_readfeeds_description"
        android:label="@string/permission_readfeeds"
        android:protectionLevel="normal" />
    <permission
        android:name="de.bernd.shandschuh.sparserss.WRITEFEEDS"
        android:description="@string/permission_writefeeds_description"
        android:label="@string/permission_writefeeds"
        android:protectionLevel="normal" />

    <application
        android:allowBackup="true"
        android:allowClearUserData="true"
        android:usesCleartextTraffic="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:testOnly="false"
        android:theme="@style/MyThemeDark" >
        <!--
        <service android:name=".service.RefreshService" />
        <service android:name=".service.FetcherService" />
        -->
        <service
            android:name=".service.RssJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true"/>

        <provider
            android:name=".provider.FeedDataContentProvider"
            android:authorities="de.bernd.shandschuh.sparserss.provider.FeedData"
            android:readPermission="de.bernd.shandschuh.sparserss.READFEEDS"
            android:writePermission="de.bernd.shandschuh.sparserss.WRITEFEEDS" />

        <activity
            android:name=".RSSOverview"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MyThemeDark"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".EmptyActivity" />
        
        <activity
            android:name=".EntriesListActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MyThemeDark"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="content"
                    android:mimeType="vnd.android.cursor.dir/vnd.feeddata.entry" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".EntryActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/MyThemeDark"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="content"
                    android:mimeType="vnd.android.cursor.item/vnd.feeddata.entry" />
            </intent-filter>
        </activity>

        <activity android:name=".ApplicationPreferencesActivity" />

        <activity android:name=".widget.WidgetConfigActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <activity
            android:name=".FeedConfigActivity"
            android:theme="@style/Theme.Dialog"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.item/vnd.feeddata.feed" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.INSERT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.dir/vnd.feeddata.feed" />
            </intent-filter>
        </activity>

        <receiver android:name=".widget.SparseRSSAppWidgetProvider"
            android:exported="true">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widgetinfo" />
        </receiver>
        <receiver android:name=".RefreshBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="de.bernd.shandschuh.sparserss.REFRESH" />
            </intent-filter>
        </receiver>
        <receiver android:name=".BootCompletedBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".SendLogActivity"
            android:label="@string/title_activity_send_log" >
        </activity>
        <activity
            android:name="de.bernd.shandschuh.sparserss.RecycleListActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_recycle_list" >
        </activity>
    </application>

</manifest>
